
.bottom {
    font-size: 14px;
    margin-top: 110px;
    text-align: center;
    padding-bottom: 150px;
    color: #898989
}

.bottom span {
    color: #607fa6;
    font-size: 2.4rem
}
.lzf_gif {
    width: 5rem;
    position: fixed;
    right: 5%;
    bottom: 1%;
}

#bottom_banner{
    width: 100%;
    position: fixed;
    bottom:0;
    z-index: 999;
}
#top_banner{
    width: 100%;
    position: fixed;
    top:0;
    z-index: 999;
}
.alert-dialog{
    width: 30%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    background: rgba(0,0,0,.5);
    position: fixed;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: none;
}