body,ul,li,h1,h2,h3,h4,h5,h6,dl,dd,p,form {
	margin: 0;
	padding: 0;
}

a,a:hover {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

li {
	list-style: none;
}

img {
	border: 0px;
}

em,i {
	font-style: normal
}

table {
	border-collapse: collapse
}

input,button,select,textarea {
	outline: none;
	padding: 0rem;
	margin: 0rem
}

input,textarea {
	border: 0;
	background: none;
}

textarea {
	resize: none
}

input,select,button {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-border-radius: 0rem;
	-moz-border-radius: 0rem;
	border-radius: 0rem
}

input[type="submit"],input[type="reset"],input[type="button"],input[type="text"],select,button {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-border-radius: 0rem;
	border-radius: 0rem;
	-moz-border-radius: 0rem
}

html {
	line-height: 1.6;
}

body {
	max-width: 720px;
	margin: 0 auto;
	font-family: "微软雅黑"
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	font-size: 16px;
}

.foot {
	overflow: hidden;
	width: 100%;
	background-color: rgb(255,102,0);
	padding: 5px 0 0px;
	border-bottom: 1px solid #ccc;
}

.foot img {
	float: left;
	margin-top: -5px;
	width: 70px;
}

.foot p {
	font-size: 13px;
	position: relative;
	color: #fff;
	padding-top: 8px;
	line-height: 20px
}

.foot b {
	color: rgb(255,244,92);
	font-size: 18px
}

.content {
	position: relative;
	padding: 5px 10px 0;
	font-size: 16px
}

.title {
	padding-bottom: 10px;
	margin-bottom: 14px;
	border-bottom: 1px solid #e7e7eb;
	line-height: 1.4;
	font-weight: 400;
	font-size: 24px;
}

.rich_list {
	position: relative;
	z-index: 1;
	margin-bottom: 10px;
	line-height: 20px;
	font-size: 0
}

.rich_list em {
	max-width: none;
	color: #8c8c8c;
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
	margin-bottom: 10px;
	font-size: 16px;
}

.rich_list a {
	vertical-align: middle;
	margin-right: 8px;
	margin-bottom: 10px;
	font-size: 16px;
	color: #607fa6;
	max-width: none;
	display: inline-block!important;
}

.rich_media {
	position: relative;
	overflow: hidden;
	color: #3e3e3e;
	padding-bottom: 20px
}

.menu {
	position: relative;
	font-size: 14px;
	margin-bottom: 10px
}

.menu span {
	display: inline-block;
	border: rgb(255,102,0) 1px solid;
	width: 34px;
	line-height: 17px;
	text-align: center;
	color: rgb(6,6,6)
}

.menu p {
	background: rgb(255,102,0);
	position: absolute;
	top: 1px;
	right: 0;
	left: 38px;
	height: 36px;
	line-height: 36px;
	padding: 0 3px;
	color: #fff;
	font-weight: bold;
}

.titCont {
	font-size: 14px;
	margin-bottom: 15px
}

.titCont strong {
	display: block;
	color: #f00;
	font-size: 16px
}

span.orange {
	color: rgb(255,76,0);
	font-weight: bold
}

span.brown {
	color: rgb(123,12,0);
	font-weight: bold
}

.markList {
	font-size: 14px;
	color: #3e3e3e;
	margin-bottom: 15px
}

.markList mark {
	background: transparent;
	display: inline-block;
}

.rich_media .imgBox {
	text-align: center;
	margin-bottom: 25px;
	list-style: none
}

.rich_media .imgBox img {
	max-width: 100%;
	display: block;
	margin: 0 auto
}

.uls {
	color: #3e3e3e;
	font-size: 14px
}

.uls li {
	margin-top: 10px
}

mark.red {
	background: rgb(255,76,0);
	color: #fff;
	font-weight: bold
}

span.max {
	font-size: 16px
}

mark.yellow {
	background: rgb(255,251,0);
	color: #3e3e3e;
	font-weight: bold
}

.contBot {
	font-size: 18px
}

.label {
	height: 28px;
	padding-bottom: 5px;
	padding: 0 13px 3px;
	background: #FFF;
	border-bottom: 1px solid #e0e0e0;
	line-height: 28px;
}

.label h3 {
	border-bottom-color: #3668b2;
	padding: 0 0 3px 0;
	border-bottom: 1px solid #3668b2;
	bottom: 0;
	font-size: 14px;
	color: #333;
	position: relative;
	float: left;
}

.label a {
	margin-left: 15px;
	float: right;
	display: block;
	vertical-align: middle;
	font-size: 12px;
	color: #666;
}

.tb {
	border-bottom: 1px solid #e5e5e5;
}

.topicCon {
	padding: 10px 10px 8px;
	position: relative;
}

.personImgDate {
	padding-right: 45px;
	line-height: 21px;
	overflow: hidden;
}

.perImg {
	width: 100%;
	height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #000;
	display: block;
}

.perImg img {
	display: block;
	width: 20px;
	border-radius: 30px;
	top: 10px;
	left: 10px;
	position: absolute;
	vertical-align: middle;
}

.timeT {
	padding-left: 25px;
	color: #3668b2;
	line-height: 18px;
	font-size: 13px;
}

.gbg1 {
	width: 22px;
	height: 14px;
	margin: -2px 2px 0;
	display: inline-block;
	line-height: 15px;
	text-align: center;
	vertical-align: middle;
	-moz-border-radius: 0.2rem;
	-webkit-border-radius: 0.2rem;
	border-radius: 0.2rem;
	font-size: 8px;
	font-weight: normal;
	color: #FFF;
	background-color: #8dc56a;
}

.floorNum {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #a0a0a0;
	display: block;
}

.detailCon {
	margin: 5px auto 0;
	overflow: hidden;
}

.detailCon div {
	word-break: break-all;
	line-height: 1.4;
	font-size: 16px;
	color: #1d1d1d;
}

.detailCon p {
	margin: 10px 0 10px 0;
	word-break: break-all;
	line-height: 1.4;
	font-size: 17px;
	color: #1d1d1d;
}

.time {
	padding: 5px 0 0 2px;
	font-size: 11px;
	float: left;
	color: #999
}
